html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.text-primary {
  color: #f8f8f2;
}

.text-secondary {
  color: #44475a;
}

.text-success {
  color: #50fa7b;
}

.text-danger {
  color: #ff5555;
}

.text-warning {
  color: #f1fa8c;
}

.text-info {
  color: #6272a4;
}

.text-light {
  color: #f8f8f2;
}

.text-dark {
  color: #282a36;
}

.text-muted {
  color: #7a7c88;
}

.text-white {
  color: #ffffff;
}

.text-cyan {
  color: #8be9fd;
}

.bg-primary {
  background-color: #282a36;
}

.bg-secondary {
  background-color: #21222C;
}

.bg-success {
  background-color: #50fa7b;
}

.bg-danger {
  background-color: #ff5555;
}

.bg-warning {
  background-color: #f1fa8c;
}

.bg-info {
  background-color: #6272a4;
}

.bg-light {
  background-color: #f8f8f2;
}

.bg-dark {
  background-color: #282a36;
}

.bg-muted {
  background-color: #7a7c88;
}

.bg-white {
  background-color: #f8f8f2;
}

@font-face {
  font-family: ShadowsIntoLight;
  src: url("https://mhenphyz.github.io/assets/fonts/ShadowsIntoLight-Regular.ttf");
}
@font-face {
  font-family: CommicNeue;
  src: url("https://mhenphyz.github.io/assets/fonts/ComicNeue-Light.ttf");
}
html {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 9 * ((100vw - 320px) / 1600));
  }
}
@media screen and (min-width: 1920px) {
  html {
    font-size: 25px;
  }
}

h1 {
  font-size: 2.0736rem;
}
h1 {
  font-size: 27.648px;
}
@media screen and (min-width: 320px) {
  h1 {
    font-size: calc(27.648px + 26.352 * ((100vw - 320px) / 1600));
  }
}
@media screen and (min-width: 1920px) {
  h1 {
    font-size: 54px;
  }
}

h2 {
  font-size: 1.728rem;
}
h2 {
  font-size: 27.648px;
}
@media screen and (min-width: 320px) {
  h2 {
    font-size: calc(27.648px + 26.352 * ((100vw - 320px) / 1600));
  }
}
@media screen and (min-width: 1920px) {
  h2 {
    font-size: 54px;
  }
}

h3 {
  font-size: 1.44rem;
}
h3 {
  font-size: 23.04px;
}
@media screen and (min-width: 320px) {
  h3 {
    font-size: calc(23.04px + 12.96 * ((100vw - 320px) / 1600));
  }
}
@media screen and (min-width: 1920px) {
  h3 {
    font-size: 36px;
  }
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  width: 100%;
  height: 100%;
}

img.fluid {
  width: 100%;
  height: auto;
}

.p-0x {
  padding: 0%;
}

.pl-0x {
  padding-left: 0%;
}

.pr-0x {
  padding-right: 0%;
}

.pt-0x {
  padding-top: 0%;
}

.pb-0x {
  padding-bottom: 0%;
}

.pv-0x {
  padding-right: 0%;
  padding-left: 0%;
}

.ph-0x {
  padding-top: 0%;
  padding-bottom: 0%;
}

.m-0x {
  margin: 0%;
}

.ml-0x {
  margin-left: 0%;
}

.mr-0x {
  margin-right: 0%;
}

.mt-0x {
  margin-top: 0%;
}

.mb-0x {
  margin-bottom: 0%;
}

.mv-0x {
  margin-right: 0%;
  margin-left: 0%;
}

.mh-0x {
  margin-top: 0%;
  margin-bottom: 0%;
}

.p-1x {
  padding: 2%;
}

.pl-1x {
  padding-left: 2%;
}

.pr-1x {
  padding-right: 2%;
}

.pt-1x {
  padding-top: 2%;
}

.pb-1x {
  padding-bottom: 2%;
}

.pv-1x {
  padding-right: 2%;
  padding-left: 2%;
}

.ph-1x {
  padding-top: 2%;
  padding-bottom: 2%;
}

.m-1x {
  margin: 2%;
}

.ml-1x {
  margin-left: 2%;
}

.mr-1x {
  margin-right: 2%;
}

.mt-1x {
  margin-top: 2%;
}

.mb-1x {
  margin-bottom: 2%;
}

.mv-1x {
  margin-right: 2%;
  margin-left: 2%;
}

.mh-1x {
  margin-top: 2%;
  margin-bottom: 2%;
}

.p-2x {
  padding: 4%;
}

.pl-2x {
  padding-left: 4%;
}

.pr-2x {
  padding-right: 4%;
}

.pt-2x {
  padding-top: 4%;
}

.pb-2x {
  padding-bottom: 4%;
}

.pv-2x {
  padding-right: 4%;
  padding-left: 4%;
}

.ph-2x {
  padding-top: 4%;
  padding-bottom: 4%;
}

.m-2x {
  margin: 4%;
}

.ml-2x {
  margin-left: 4%;
}

.mr-2x {
  margin-right: 4%;
}

.mt-2x {
  margin-top: 4%;
}

.mb-2x {
  margin-bottom: 4%;
}

.mv-2x {
  margin-right: 4%;
  margin-left: 4%;
}

.mh-2x {
  margin-top: 4%;
  margin-bottom: 4%;
}

.p-3x {
  padding: 6%;
}

.pl-3x {
  padding-left: 6%;
}

.pr-3x {
  padding-right: 6%;
}

.pt-3x {
  padding-top: 6%;
}

.pb-3x {
  padding-bottom: 6%;
}

.pv-3x {
  padding-right: 6%;
  padding-left: 6%;
}

.ph-3x {
  padding-top: 6%;
  padding-bottom: 6%;
}

.m-3x {
  margin: 6%;
}

.ml-3x {
  margin-left: 6%;
}

.mr-3x {
  margin-right: 6%;
}

.mt-3x {
  margin-top: 6%;
}

.mb-3x {
  margin-bottom: 6%;
}

.mv-3x {
  margin-right: 6%;
  margin-left: 6%;
}

.mh-3x {
  margin-top: 6%;
  margin-bottom: 6%;
}

.p-4x {
  padding: 8%;
}

.pl-4x {
  padding-left: 8%;
}

.pr-4x {
  padding-right: 8%;
}

.pt-4x {
  padding-top: 8%;
}

.pb-4x {
  padding-bottom: 8%;
}

.pv-4x {
  padding-right: 8%;
  padding-left: 8%;
}

.ph-4x {
  padding-top: 8%;
  padding-bottom: 8%;
}

.m-4x {
  margin: 8%;
}

.ml-4x {
  margin-left: 8%;
}

.mr-4x {
  margin-right: 8%;
}

.mt-4x {
  margin-top: 8%;
}

.mb-4x {
  margin-bottom: 8%;
}

.mv-4x {
  margin-right: 8%;
  margin-left: 8%;
}

.mh-4x {
  margin-top: 8%;
  margin-bottom: 8%;
}

.p-5x {
  padding: 10%;
}

.pl-5x {
  padding-left: 10%;
}

.pr-5x {
  padding-right: 10%;
}

.pt-5x {
  padding-top: 10%;
}

.pb-5x {
  padding-bottom: 10%;
}

.pv-5x {
  padding-right: 10%;
  padding-left: 10%;
}

.ph-5x {
  padding-top: 10%;
  padding-bottom: 10%;
}

.m-5x {
  margin: 10%;
}

.ml-5x {
  margin-left: 10%;
}

.mr-5x {
  margin-right: 10%;
}

.mt-5x {
  margin-top: 10%;
}

.mb-5x {
  margin-bottom: 10%;
}

.mv-5x {
  margin-right: 10%;
  margin-left: 10%;
}

.mh-5x {
  margin-top: 10%;
  margin-bottom: 10%;
}

div.spacer-0x {
  display: block;
  width: 100%;
  height: 0%;
}

div.spacer-1x {
  display: block;
  width: 100%;
  height: 5%;
}

div.spacer-2x {
  display: block;
  width: 100%;
  height: 10%;
}

div.spacer-3x {
  display: block;
  width: 100%;
  height: 15%;
}

.w-0 {
  width: 0%;
}

.w-25 {
  width: 2500%;
}

.w-50 {
  width: 5000%;
}

.w-75 {
  width: 7500%;
}

.w-100 {
  width: 10000%;
}

.h-0 {
  height: 0%;
}

.h-25 {
  height: 2500%;
}

.h-50 {
  height: 5000%;
}

.h-75 {
  height: 7500%;
}

.h-100 {
  height: 10000%;
}

/* Add a black background color to the top navigation */
nav {
  background-color: #333;
  overflow: hidden;
}
nav a {
  float: left;
  display: block;
  color: #6272a4;
  text-align: center;
  padding: 14px 16px;
}
nav a:hover {
  background-color: #282a36;
  color: #f8f8f2;
}
nav a:not(:first-child) {
  display: none;
}
nav a.active {
  background-color: #44475a;
  color: white;
}
nav a.icon {
  float: right;
  display: block;
}
nav.responsive {
  position: relative;
  -webkit-transition: ease-in background-color 1s;
  transition: ease-in background-color 1s;
}
nav.responsive a {
  float: none;
  display: block;
  text-align: left;
}
nav.responsive a.icon {
  position: absolute;
  right: 0;
  top: 0;
}

@media screen and (min-width: 600px) {
  nav.navigation-bar a {
    display: block;
  }
  nav.navigation-bar a:not(:first-child) {
    float: right;
  }
  nav.navigation-bar a.icon {
    display: none;
  }
}
section.banner {
  width: 100%;
  height: auto;
  display: block;
}
section.banner .tool {
  width: 100%;
  height: auto;
  text-align: center;
}
section.banner .tool .tool-body .generatedPassword {
  width: 100%;
  height: auto;
  overflow: hidden;
}
section.quote {
  color: #7a7c88;
  font-size: .75rem;
  text-align: center;
}

div.image-set {
  width: 75%;
  max-width: 1200px;
  height: auto;
  position: relative;
  margin: auto;
  display: block;
  padding-top: 40%;
}
div.image-set .mo-fire, div.image-set img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
}
div.image-set img[animation='upDownAnimation'] {
  -webkit-animation: 10s ease 0s upDownAnimation;
          animation: 10s ease 0s upDownAnimation;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
div.image-set img[animation='upDownAnimation2'] {
  -webkit-animation: 15s ease 0s upDownAnimation;
          animation: 15s ease 0s upDownAnimation;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
div.image-set img[animation='righLeftAnimation'] {
  -webkit-animation: 7s ease 0s righLeftAnimation;
          animation: 7s ease 0s righLeftAnimation;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
div.image-set img[animation='leftRightAnimation'] {
  -webkit-animation: 13s ease-in-out 0s leftRightAnimation;
          animation: 13s ease-in-out 0s leftRightAnimation;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
div.image-set img[animation='RightAnimation'] {
  -webkit-animation: 5s ease-in-out 0s RightAnimation;
          animation: 5s ease-in-out 0s RightAnimation;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
div.image-set img[animation='LeftAnimation'] {
  -webkit-animation: 5s ease-in-out 0s LeftAnimation;
          animation: 5s ease-in-out 0s LeftAnimation;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes upDownAnimation {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes upDownAnimation {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@-webkit-keyframes righLeftAnimation {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(8%);
            transform: translateX(8%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes righLeftAnimation {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(8%);
            transform: translateX(8%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes leftRightAnimation {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  75% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes leftRightAnimation {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  75% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes RightAnimation {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(3%);
            transform: translateX(3%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes RightAnimation {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(3%);
            transform: translateX(3%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes LeftAnimation {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-3%);
            transform: translateX(-3%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes LeftAnimation {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-3%);
            transform: translateX(-3%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.card {
  position: relative;
  color: #f8f8f2;
  display: block;
  background-color: #282a36;
  text-align: center;
  min-height: 150px;
  cursor: pointer;
}
.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-box-shadow: -6px -6px 20px black, 6px 6px 20px rgba(255, 255, 255, 0.1);
          box-shadow: -6px -6px 20px black, 6px 6px 20px rgba(255, 255, 255, 0.1);
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-box-shadow: inset -6px -6px 10px rgba(0, 0, 0, 0.5), inset 6px 6px 20px rgba(255, 255, 255, 0.1);
          box-shadow: inset -6px -6px 10px rgba(0, 0, 0, 0.5), inset 6px 6px 20px rgba(255, 255, 255, 0.1);
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.card:hover {
  color: #50fa7b;
}
.card:hover .header > i {
  font-size: 2rem;
}
.card:hover::before {
  opacity: 0;
}
.card:hover::after {
  opacity: 1;
}
.card .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50%;
  position: relative;
  overflow: hidden;
}
.card .header i {
  font-size: 2.5rem;
  -webkit-transition: font-size .2s ease;
  transition: font-size .2s ease;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 30%);
  grid-gap: 15px;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  -moz-appearance: none;
       appearance: none;
  width: 75%;
  height: 3px;
  background: #6272a4;
  outline: none;
  opacity: 0.5;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}
.slider + #passwdLenght {
  opacity: 0.5;
}
.slider:hover, .slider:hover + #passwdLenght {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #282a36;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border: none;
  background: #8be9fd;
  cursor: pointer;
}

.inputContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  color: #f8f8f2;
  row-gap: 30%;
  -webkit-column-gap: 25px;
          column-gap: 25px;
  padding: 0 20%;
}
.inputContainer .inputGroupOptionInput {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.inputContainer .inputGroupOptionInput label {
  font-size: 0.9rem;
}
.inputContainer .inputGroupOptionInput input[type=checkbox] {
  position: absolute;
  right: 0;
}

button.submit {
  background-color: #21222C;
  border: 0;
  padding: 10px;
  color: #6272a4;
  cursor: pointer;
  border: solid 1px #6272a4;
}
button.submit:hover {
  color: #8be9fd;
  border: solid 1px #8be9fd;
}

.keytable {
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
}
.keytable .key {
  display: block;
  padding: 10px;
  color: #6272a4;
}

input[type=text] {
  background-color: transparent;
  padding: .2rem;
  border: none;
  border-bottom: solid 1px rgba(80, 250, 123, 0.5);
  color: #6272a4;
}
input[type=text]:hover {
  color: #8be9fd;
  border-color: rgba(80, 250, 123, 0.9);
}

/*# sourceMappingURL=app.css.map */